<h2>Edit account</h2>

<%= simple_form_for current_user, :html => {:multipart => true} do |f|%>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :image, :as => :file %>
  <%= f.button :submit %>
<% end %>
