<% title @user.name %>

<div class="avatar-container">
  <%= image_tag @user.image_url, :class => 'user-avatar' %>

  <div class="latest">
    <h2>Latest Surveys</h2>
    <ul>
      <% @questionnaires.each do |questionnaire| %>
        <li>
          <%= link_to questionnaire.name, questionnaire_path(questionnaire) %> 
           --
          <%= link_to "answer", new_questionnaire_answer_form_path(questionnaire) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% content_for :sidebar do %>
  <p><%= link_to "All #{@user.name}'s surveys", user_questionnaires_path(@user) %></p>
  <p><a href="<%= @user %>">Watching: <%= @user.following.count %></a></p>
  <p><a href="<%= @user %>"><%= pluralize @user.following.count, "watcher" %></a></p>

  <% if current_user.following?(@user) %>
    <%= link_to "watching", user_follow_path(@user), :method => :delete, :remote => true, :class => 'unfollow_user btn' %>
  <% else %>
    <%= link_to "watch", user_follow_path(@user), :method => :put, :remote => true, :class => 'follow_user btn' %>
  <% end %>
<% end %>
