<h2><%= @user.name %></h2>

<%= image_tag @user.image_url %>

<a href="<%= user_following_path @user %>">watching <%= @user.following.count %></a>
<a href="<%= user_followers_path @user %>"><%= pluralize @user.following.count, "watcher" %></a>

<% if current_user.following?(@user) %>
  <%= link_to "stop watching", user_unfollow_path(@user), :method => :post, :remote => true, :class => 'unwatch_user' %>
<% else %>
  <%= link_to "watch", user_follow_path(@user), :method => :post, :remote => true, :class => 'watch_user' %>
<% end %>
