<div class="fields">
  <%= f.input :question, :label => false, :placeholder => 'Question' %>
  <%= link_to_remove_fields "Remove Question", f, :class => 'btn' %>
  <%= f.simple_fields_for :answer_fields do |builder| %>
    <%= render 'answer_field_fields', :f => builder %>
  <% end %>
  <%= link_to_add_fields "Add Answer", f, :answer_fields, :class => 'btn' %>
</div>
