<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for questionnaire in @questionnaires %>
    <tr>
      <td><%= questionnaire.name %></td>
      <td><%= link_to "Show", questionnaire %></td>
      <td><%= link_to "Edit", edit_questionnaire_path(questionnaire) %></td>
      <td><%= link_to "Delete", questionnaire, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Survey", new_questionnaire_path %></p>
