<!DOCTYPE html>
<html>
<head>
  <title>SurveYr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to 'SurveYr', root_url %></h1>

  <%= render 'shared/statusbar' %>

  <%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

  <%= yield %>

</body>
</html>
